{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <img src="{% static 'img_preview.jpg' %}" width="200px">
    </div>
    <div class="col-12 col-md-6 col-lg-8">
        <h3 class="fv-bold mb-6 text-dark">{{ game.name }}</h3>
        <p class="text-bg-danger">{{ game.desc }}</p>
        <p class="text-bg-warning">{{ game.min_price }}-{{ game.max_price }}</p>
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'add_comment' game.id %}" method="post">
            <div>
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input class="btn btn-primary" type="submit" value="Submit"></p>
            </div>
        </form>
    {% else %}
        <p class="mb-5">
            <a href="{% url 'login' %}" class="text-decoration-none">Login to account for comment post</a>
        </p>
    {% endif %}
</div>
{% endblock %}