{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    {% if category %}
    	<h3>Categories</h3>
        <h4>{{ category.name }}</h4>
    {% else %}
        <h4>All Games</h4>
    {% endif %}
<div class="row">
    <div>
        <form class="form-inline" action="{% url 'main' %}" method="get">
            <input type="search" placeholder="Search" name="q" aria-label="search">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
    {% for game in games %}
    <a href="{% url 'game_page' id=game.pk %}" class="text-decoration-none games-cards">
        <div class="flex shadow p-4 border mb-3">
            <div class="col-md-4">
                <img src="{% static 'img_preview.jpg' %}" width="200px">
            </div>
            <div class="col-md-7">
                <h3 class="fw-bolt mb-3 text-dark">{{ game.name }}</h3>
                <p class="text-danger">{{ game.desc }}</p>
                <p class="text-bg-warning">{{ game.min_price }}-{{ game.max_price }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}