<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Darknet v2.0</title>
    {% load static %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
    background-color: #00a5ff;
    }
    </style>
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false"
                aria-label="Toggle Navigation">
            <span class="navbar-toggles-Item"></span>
        </button>
        <a class="navbar-brend ps-2" href="/">Darknet 2.0</a>
        <div class="collapse navbar-collapse" id="menuItems">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown"
                       type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for i in catergories %}
                        <a class="dropdown-item" href="/category/{{i.id}}.html">{{i.name}}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--<ul>-->
<!--    {% if user.is_authenticated %}-->
<!--    <li>User: {{user.get_username}}</li>-->
<!--    <li><a href="{% url 'logout' %}?next={{ request.path }}">Log Out</a></li>-->
<!--    {% else %}-->
<!--    <li><a href="{% url 'login' %}?next={{ request.path }}">Log in</a></li>-->
<!--    {% endif %}-->
<!--</ul>-->
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>