<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Darknet v2.0</title>
    {% load static %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: #5e5b59;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-md px-4 bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false"
                    aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ps-2" href="/">Darknet 2.0</a>
            <div class="collapse navbar-collapse" id="menuItems">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'category_page' id=category.pk %}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Compilations
                        </a>
                        <ul class="dropdown-menu">
                            {% for compilation in compilations %}
                                <li>
                                    <a class="dropdown-item" href="#">
                                        {{ compilation.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="ms-auto bg-light">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="px-3 text-decoration-none">{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'login' %}" class="px-3 text-decoration-none">Sing in</a>
                    <a href="{% url 'signup' %}" class="px-3 text-decoration-none">Sing up</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="page-container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>