{% extends "base_generic.html" %}
{% block content %}
{% if ask_logout %}
<p>Are you sure, that you want to log out?</p>
{% else %}
<h1 class="text-center my-3">Join a growing community of creators and gamers from around the world!</h1>
<form action="" method="post">
    <div class="col-lg-4 col-md-6 col-10 mx-auto text-center.">
        {{user_form.as_p}}
        {% csrf_token %}
        <p><input class="btn btn-success text-center" type="submit" value="Create Account"></p>
    </div>
</form>
{% endif %}
{% endblock %}