input {
    height: 3rem;
    border: 1px solid #77B5FE;
    width: 100%;
}
.games-cards {
    gap: 1rem;

}
.game-card {
    width: 100%;
}
.page-container {
    margin-top: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}